body{
	font-family:"Segoe UI", "Arial" ,sans-serif;
	margin: 0 auto;
	text-align: center;
}
.container{
	border: 2px solid #ccc;
	background-color: #ddd;
	width: 700px;
	height: 500px;
	border:2px solid #ddd;
	
}
form{
	
}
label{
	
	color:#b0b0b0;
	margin-right: 250px;
}
input::placeholder{
	color:#aaa;
}
input{
	margin-top: 10px;
	height: 30px;
	border-radius: 5px;
	width: 300px;
	margin-bottom:25px;

}
#resultado{
	text-align: center;
	font-size: 50px;
	color: #33ff99;
}
button{
	background-color: #33ff99;
	border-radius: 20px;
	margin-bottom: 20px;
	width: 350px;
	height: 80px;
	font-size: 35px;
	color: #eee;
}	
#sub{
	float: left;
}